{% extends "base.html" %}
{% load base_tags wagtailcore_tags  %}
{% get_site_root as site_root %}

{% block body_class %}template-content-page{% endblock %}

{% block content %}
  {% if self.is_child %}
    {% breadcrumbs %}
  {% endif %}

  <section class="grid-container page-info">
    <div class="section-header">
      <h2>{{ page.title }}</h2>
    </div>
    <p>Last updated {{ page.latest_revision_created_at|time:'P' }} on the {{ page.latest_revision_created_at|date:'jS F Y' }}</p>
  </section>

  <main>
    {% include 'home/includes/streamfield.html' with content=page.body %}
  </main>

{% endblock %}