{% extends "base.html" %}
{% load static base_tags wagtailcore_tags wagtailimages_tags %}
{% get_site_root as site_root %}

{% block body_class %}template-gallery-page{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'scss/photoswipe.css' %}"/>
  <link rel="stylesheet" href="{% static 'scss/photoswipe-default-skin.css' %}"/>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/photoswipe.min.js' %}"></script>
  <script src="{% static 'js/photoswipe-ui-default.min.js' %}"></script>
  <script src="{% static 'js/gallery.min.js' %}"></script>
{% endblock %}

{% block topbar %}{% endblock %}

{% block content %}
  <section class="jumbotron gallery-jumbotron">
    <div class="gallery-cover-image">
      {% image page.gallery_cover width-1536 %}
    </div>
    {% top_menu parent=site_root calling_page=self transparent=True %}
    <div class="grid-container jumbotron-padding">
      <div class="grid-x grid-margin-x">
        <div class="auto cell">
          <h1 class="text-center">{{ page.title }}</h1>
          <div class="gallery-description">{{ page.description|safe }}</div>
          <p class="gallery-date text-center">Photos taken on {{ page.date|date:'jS F Y' }}</p>
        </div>
      </div>
    </div>
    <svg version="1.1" class="jumbotron-mask" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
     viewBox="0 0 1280 70" enable-background="new 0 0 1280 70" xml:space="preserve" preserveAspectRatio="none">
      <polygon points="1280,70 0,70 1280,0 "></polygon>
    </svg>
  </section>

  <section class="grid-container gallery-container" itemscope itemtype="http://schema.org/ImageGallery">
    {% for list in gallery_photos %}
      <div class="grid-x gallery-row">
        {% for item in list %}
          {% if list|more_than_one %}
            {% image item.image width-400 as gallery_item %}
          {% else %}
            {% image item.image width-800 as gallery_item %}
          {% endif %}
          {% image item.image width-1536 as gallery_item_large %}
          <figure class="small-12 medium-auto cell gallery-item {% if list|more_than_one %}singular{% endif %}"
                  itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{ gallery_item_large.url }}" itemprop="contentUrl"
               data-size="{{ gallery_item_large.width }}x{{ gallery_item_large.height }}">
              <img src="{{ gallery_item.url }}" alt="{{ item.title }}" itemprop="thumbnail">
            </a>
            <figcaption itemprop="caption description">
              {{ item.caption }}
              <span itemprop="copyrightHolder">Photo: {{ item.attribution }}</span>
            </figcaption>
          </figure>
        {% endfor %}
      </div>
    {% empty %}
      {# TODO: Empty state #}
    {% endfor %}
  </section>

  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
      <!-- Container that holds slides.
          PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">

          <!--  Controls are self-explanatory. Order can be changed. -->

          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

          <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
          <!-- element will get class pswp__preloader--active when preloader is running -->
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>

        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>

        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}