{% extends "base.html" %}
{% load static base_tags wagtailcore_tags wagtailimages_tags %}
{% get_site_root as site_root %}

{% block body_class %}template-gallery-index{% endblock %}

{% block content %}
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell section-header">
        <h2 class="section-header">Photo gallery</h2>
        {% if page.description %}
          {{ page.description | richtext }}
        {% endif %}
      </div>
    </div>
    <div class="gallery-list">
      {% for gallery in self.galleries %}
        {% image gallery.gallery_cover min-500x500 as thumbnail %}
        <figure class="effect-sadie {% if thumbnail|is_portrait %}vertical{% endif %}">
          <img src="{{ thumbnail.url }}" alt="{{ gallery.title }}" class="gallery-item-image">
          <figcaption>
            <div>
              <h2 class="gallery-item-title">{{ gallery.title }}</h2>
              <p class="gallery-item-date">Published on {{ gallery.date|date:'jS F Y' }}</p>
            </div>
            <a href="{% pageurl gallery %}">View more</a>
          </figcaption>
        </figure>
      {% endfor %}
    </div>
  </div>
{% endblock %}