{% extends "base.html" %}
{% load static base_tags wagtailcore_tags wagtailimages_tags %}
{% get_site_root as site_root %}

{% block body_class %}template-gallery-page{% endblock %}

{% block extra_css %}
  <style type="text/css">
    .jumbotron {
      background: #E53935 url({{ gallery_cover }}) center;
    }
  </style>
{% endblock %}

{% block topbar %}{% endblock %}

{% block content %}
  <section class="jumbotron gallery-jumbotron">
    {% top_menu parent=site_root calling_page=self transparent=True %}
    <div class="grid-container jumbotron-padding">
      <div class="grid-x grid-margin-x">
        <div class="auto cell">
          <h1 class="text-center">{{ page.title }}</h1>
          <div class="gallery-description">{{ page.description|safe }}</div>
          <p class="gallery-date text-center">Photos taken on {{ page.date|date:'jS F Y' }}</p>
        </div>
      </div>
    </div>
    <svg version="1.1" class="jumbotron-mask" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
     viewBox="0 0 1280 70" enable-background="new 0 0 1280 70" xml:space="preserve" preserveAspectRatio="none">
      <polygon points="1280,70 0,70 1280,0 "></polygon>
    </svg>
  </section>
{% endblock %}