{% extends "base.html" %}
{% load static base_tags wagtailcore_tags wagtailimages_tags %}
{% get_site_root as site_root %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
  <style type="text/css">
    .jumbotron {
      background: #E53935 {% if cover_image %}url({{ cover_image }}) center{% endif %};
    }
  </style>
{% endblock %}

{% block topbar %}{% endblock %}

{% block content %}
  <section class="jumbotron">
    {% top_menu parent=site_root calling_page=self transparent=True %}
    <div class="grid-container jumbotron-padding">
      <div class="grid-x grid-margin-x">
        <div class="shrink cell show-for-medium">
          <svg width="153px" height="200px" viewBox="0 0 213 280" version="1.1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink">
            <g transform="translate(-1.000000, 0.000000)" fill="#FFF">
              <ellipse cx="87.46" cy="72.86" rx="30.7" ry="27.12"></ellipse>
              <path
                  d="M99.5,101.74 C115.532586,97.4643224 132.067618,95.36549 148.66,95.5 C165.290183,95.5761694 181.871645,97.3046611 198.16,100.66 C198.16,100.66 180.5,108 148.82,108 C117.14,108 99.5,101.74 99.5,101.74 Z"></path>
              <path
                  d="M75.66,101.74 C75.66,101.74 23.16,94.34 13,94.34 C1.84,94.34 1.96,101.76 1.96,101.76 C1.96,101.76 1.84,110.02 12.84,110.02 C22.84,110 75.66,101.74 75.66,101.74 Z"></path>
              <path
                  d="M88.66,103.48 C88.66,103.48 97.04,133.28 87.44,150.64 C79.16,165.6 64,174.14 64,174.14 L74.5,189.6 C84.4615567,183.709453 92.5958817,175.173604 98,164.94 C109.5,142.14 88.66,103.48 88.66,103.48 Z"></path>
              <path
                  d="M37.66,190.92 C37.66,190.92 24.66,200.92 14.5,229.58 C6.5,251.9 6.24,278.8 6.24,278.8 C9.95806259,263.43874 16.0298462,248.745024 24.24,235.24 C37.5,213.7 48.24,206.24 48.24,206.24 L37.66,190.92 Z"></path>
              <path
                  d="M79.16,101.48 C79.16,101.48 58.54,136.38 56.16,147.94 C51.5,170.6 56.96,172.42 74.82,198.78 C98.94,234.36 76.32,278.36 76.32,278.36 C76.32,278.36 75.66,236.5 54.72,205.42 C38.22,180.92 26.12,171.6 47.84,139.6 C67.84,110.14 79.16,101.48 79.16,101.48 Z"></path>
              <path
                  d="M170,0 C170,0 206,42.72 206,100 C206,157.28 170,204 170,204 C170,204 213.76,166 213.76,100 C213.76,34 170,0 170,0 Z"></path>
            </g>
          </svg>
        </div>
        <div class="auto cell">
          <h1>{{ site_root.title }}</h1>
          <p>{{ page.description }}</p>
        </div>
      </div>
    </div>
    <svg version="1.1" id="triangle-mask" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 1280 70" enable-background="new 0 0 1280 70" xml:space="preserve" preserveAspectRatio="none">
      <polygon points="1280,70 0,70 1280,0 "></polygon>
    </svg>
  </section>

  <section class="news">
    <div class="grid-container infinite-container">
      <div class="grid-x">
        <div class="cell">
          <h2 class="section-header">Recent news</h2>
        </div>

        {% for post in blogs %}
          <div class="grid-x article infinite-item">
            <div class="cell">
              <a href="{% pageurl post %}"><h2>{{ post.title }}</h2></a>
              <p class="subtitle">Posted by {{ post.owner.get_full_name }} on {{ post.date|date:'jS F Y' }}</p>
            </div>
            <div class="cell">
              {{ post.excerpt | richtext }}
            </div>
            <div class="cell">
              <hr class="article-divider"/>
            </div>
          </div>
        {% endfor %}

        {% if blogs.has_next %}
          <div class="cell">
            <p><a class="infinite-more-link" href="?page={{ blogs.next_page_number }}">More posts</a></p>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}



{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/infinite.min.js' %}"></script>
  <script type="text/javascript">
      var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
              // TODO
              // $('.loading-posts').show();
          },
          onAfterPageLoad: function () {
              // TODO
              // $('.loading-posts').hide();
          }
      })
  </script>
{% endblock %}