{% comment %} {% extends "base.html" %} {% endcomment %}
{% comment %} TODO: Refactor the get_site_root calls from base.html {% endcomment %}

{% block body_class %}template-500{% endblock %}

{% block title %}UWCS | 404 Not Found{% endblock %}

{% block extra_css %}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
{% endblock %}

{% block ogp_metadata %}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block content %}
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12 error">
        <h1 class="text-center error-code">500</h1>
      </div>
      <div class="cell small-12">
        <h2 class="text-center">Internal server error</h2>
      </div>
      <div class="cell small-12">
        <p class="text-center">Sorry, there seems to be an error. Please try again soon.</p>
      </div>
    </div>
  </div>
{% endblock %}
