{% load static wagtailuserbar wagtailcore_tags compress base_tags %}
{% get_site_root as site_root %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
<head {% block ogp_prefix %}{% endblock %}>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}
    UWAC | {{ self.title }}{% endif %}{% endblock %}</title>
  <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% endif %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#E53935"/>

  {# IE10 Tile #}
  <meta name="msapplication-TileColor" content="#E53935">
  <meta name="msapplication-TileImage" content="{% static 'favicon-144.png' %}"

  {# IE11 Tile #}
  <meta name="application-name" content="UWAC Website">
  <meta name="msapplication-tooltip" content="The University of Warwick Archery Club website">
  <meta name="msapplication-config" content="{% static 'ieconfig.xml' %}">

  {# Apple touch icons #}
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{% static 'favicon-180.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'favicon-152.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'favicon-120.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'favicon-76.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'favicon-57.png' %}">

  {# Favicons #}
  <link rel="icon" sizes="16x16 24x24 32x32 64x64" href="{% static 'favicon.ico' %}">
  <link rel="icon" sizes="228x228" href="{% static 'favicon-228.png' %}">
  <link rel="icon" sizes="128x128" href="{% static 'favicon-128.png' %}">
  <link rel="icon" sizes="96x96" href="{% static 'favicon-96.png' %}">
  <link rel="icon" sizes="32x32" href="{% static 'favicon-32.png' %}">
  <link rel="shortcut icon" sizes="196x196" href="{% static 'favicon-chrome-196.png'%}">
  <link rel="mask-icon" href="{% static 'icon.svg' %}" color="#E53935">

  <link rel="canonical" href="https://uwac.co.uk{% pageurl self %}">

  {# Global stylesheets #}
  {% compress css %}
    <link href="{% static 'scss/app.scss' %}" rel="stylesheet" type="text/x-scss"/>
  {% endcompress %}

  <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500|Muli:400,400i,700,700i" rel="stylesheet">

  {% block extra_css %}
    {# Override this in templates to add extra css #}
  {% endblock %}

  {% block ogp_metadata %}
    {# OpenGraph data goes here #}
  {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

<div class="off-canvas position-right" id="offCanvas" data-off-canvas>
  {% side_menu parent=site_root calling_page=self %}
</div>

<div class="site off-canvas-content" data-off-canvas-content>
  {% wagtailuserbar %}
  <div class="navbar">
    {% block topbar %}
      {% top_menu parent=site_root calling_page=self %}
    {% endblock %}
  </div>
  <div class="site-content">
    {% block content %}{% endblock %}
  </div>
  {% footer parent=site_root calling_page=self %}
</div>

{# Global javascript #}
<script type="text/javascript" src='{% static 'js/jquery.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/foundation.js' %}'></script>

<script type="text/javascript">
    $(document).foundation();
</script>

{% block extra_js %}
  {# Override this in templates to add extra javascript #}
{% endblock %}

</body>
</html>
