{% load static wagtailuserbar compress base_tags %}
{% get_site_root as site_root %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{% block title_prefix %}{% endblock %}{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}
    {{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#E53935"/>

  {# Global stylesheets #}
  {% compress css %}
    <link href="{% static 'scss/app.scss' %}" rel="stylesheet" type="text/x-scss"/>
  {% endcompress %}

  <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500|Muli:400,400i,700,700i" rel="stylesheet">

  {% block extra_css %}
    {# Override this in templates to add extra css #}
  {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}

<div class="site">
  <div class="navbar">
    {% block topbar %}
      <div class="top-bar">
        <div class="container">
          <div class="top-bar-title">
          <span class="hide-for-medium" data-responsive-toggle="responsive-menu">
            <button class="menu-icon" type="button" data-toggle></button>
          </span>
            <a href="#">UWAC</a>
          </div>
          <div class="top-bar-left" id="responsive-menu">
            <ul class="dropdown menu" data-dropdown-menu>
              <li><a href="#" class="current">Foo</a></li>
              <li>
                <a href="#">Bar</a>
                <ul class="menu vertical">
                  <li><a href="#">One</a></li>
                  <li><a href="#">Two</a></li>
                  <li><a href="#">Three</a></li>
                </ul>
              </li>
              <li><a href="#">Baz</a></li>
            </ul>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
  <div class="site-content">
    {% block content %}{% endblock %}
  </div>
  {% footer parent=site_root %}
</div>

{# Global javascript #}
<script type="text/javascript" src='{% static 'js/jquery.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/foundation.js' %}'></script>

<script type="text/javascript">
    $(document).foundation();
</script>

{% block extra_js %}
  {# Override this in templates to add extra javascript #}
{% endblock %}

</body>
</html>
