{% load static wagtailuserbar compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{% block title_prefix %}{% endblock %}{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}
    {{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#d32f2f"/>

  {# Global stylesheets #}
  {% compress css %}
    <link href="{% static 'scss/app.scss' %}" rel="stylesheet" type="text/x-scss"/>
  {% endcompress %}

  <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500|Muli:400,400i,700,700i" rel="stylesheet">
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}

{% block content %}{% endblock %}

{# Global javascript #}
{# Global javascript #}
<script type="text/javascript" src='{% static 'js/jquery.min.js' %}'></script>
<script type="text/javascript" src='{% static 'js/foundation.min.js' %}'></script>

<script type="text/javascript">
    $(document).foundation();
</script>

{% block extra_js %}
  {# Override this in templates to add extra javascript #}
{% endblock %}

</body>
</html>
