DB_NAME=soc_archery
DB_USER=soc_archery
DB_PASSWORD=soc_archery
DB_HOST=localhost
DB_PORT=5432
SECRET_KEY=my_secret_key
ALLOWED_HOSTS="[\"*\"]"
CSRF_TRUSTED_ORIGINS="[\"http://*\"]"
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_access_key
AWS_STORAGE_BUCKET_NAME=uwac-site
AWS_S3_CUSTOM_DOMAIN=your_custom_domain
AWS_S3_ENDPOINT_URL=https://your_endpoint.url
