{% load base_tags wagtailcore_tags %}
{% get_site_root as site_root %}

<div class="top-bar {% if transparent %}transparent{% endif %}">
  <div class="container">
    <div class="top-bar-title">
      <a href="{% pageurl site_root %}">UWAC</a>
    </div>
    <div class="top-bar-right" id="responsive-menu">
      <span class="hide-for-medium">
        <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
      </span>
      <ul class="dropdown menu show-for-medium" data-dropdown-menu>
        <li><a href="{% pageurl site_root %}" class="{% if is_home %}current{% endif %}">Home</a></li>
        {% for menuitem in menuitems %}
          <li>
            <a href="{% pageurl menuitem %}" class="{% if menuitem.active %}current{% endif %}">
              {{ menuitem.title }}
              {% if menuitem.show_dropdown %}
                {% top_menu_children parent=menuitem %}
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>